name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  vitest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: yarn install
        run: yarn
      - name: run test code
        run: yarn test
  tsc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: yarn install
        run: yarn
      - name: run tsc
        run: yarn tsc
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: yarn install
        run: yarn
      - name: run lint
        run: yarn lint
